{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Track Truck</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">

    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">

</head>
<body>

    <div class="container">
        <div id="imagenContenedor">
            <img src="{% static 'images/camion2.webp' %}" alt="Imagen de la izquierda">
        </div>

        <div id="contenido">
            <div class="logo-container">
                <img src="{% static 'images/TT3.png' %}" alt="Imagen de la izquierda">
            </div>

            <h2>Welcome to Track Truck</h2>
            <p>Please login or signin</p>

        
            <div class="button-container">
                {% url 'login' as login_url %}
                <button onclick="window.location.href='{{ login_url }}'">Login</button>

                {% url 'signin' as signin_url %}
                <button onclick="window.location.href='{{ signin_url }}'">Signin</button>
            </div>
        
        </div>
    </div>

</body>
</html>
