<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ company.name }}'s Dashboard</title>

    {% load static %}  <!-- Cargar archivos estáticos -->
    <link rel="stylesheet" href="{% static 'app_companies/css/dashboard_styles.css' %}?v=3">
</head>
<body>

    <header>
        <h1>{{ company.name }}'s Dashboard</h1>
    </header>

    <main>
        {% if company %}
        <div class="company_dashboard">
            <div class="company_data">
                <h3>Welcome, {{ company.name }}!</h3>
                <p><strong>Name:</strong> {{ company.name }}</p>
                <p><strong>Email:</strong> {{ company.email }}</p>
                <p><strong>Phone:</strong> {{ company.phone }}</p>
                <p><strong>Address:</strong> {{ company.address|default:"No disponible" }}</p>

                <a href="{% url 'update_company' company.id %}">
                    <button>Update</button>
                </a>
            </div>

            <div class="company_actions">
                <div class="company_actions_buttons">
                    <a href="{% url 'update_company' company.id %}" class="btn btn-create">Create Shipment</a>
                    <a href="?toggle_shipments=true" class="btn btn-view">
                        {% if show_shipments %}
                            Hide Shipments
                        {% else %}
                            View Shipments
                        {% endif %}
                    </a>
                </div>
                <div class="company_shipments">
                    {% if show_shipments %}
                        <div class="h3-company">
                            <div class="prueba">
                                <h3>Shipments</h3>
                            </div>   
                        </div>
                        {% if shipments %}
                            <table border="1" class="company-table">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Description</th>
                                        <th>Origin</th>
                                        <th>Destination</th>
                                        <th>Created At</th>
                                        <th>Finished At</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for shipment in shipments %}
                                    <tr>
                                        <td>{{ shipment.id }}</td>
                                        <td>{{ shipment.description }}</td>
                                        <td>{{ shipment.origin }}</td>
                                        <td>{{ shipment.destination }}</td>
                                        <td>{{ shipment.created_at }}</td>
                                        <td>{{ shipment.finished_at }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No shipments available for this company.</p>
                        {% endif %}
                    {% endif %}
                </div>
            </div>

            

        </div>
        {% else %}
            <p>Oops, we couldn't find this company...</p>
        {% endif %}
    </main>

    <footer>
        <p>&copy; 2025 TRACK TRUCK</p>
    </footer>

</body>
</html>
