{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgotten password</title>
    <link rel="stylesheet" href="{% static 'css/forgot_password.css' %}" />
</head>
<body>
    <section class="form-forgot">
        <h5>Forgot Your Password?</h5>
        <p>Enter your email and we’ll send you a link to reset your password.</p>
        <form action="#" method="POST">
            <input class="controls" type="email" name="email" placeholder="Enter your email" required>
            <input class="buttons" type="submit" value="Send Reset Link">
        </form>
        <p><a href="home.html">Back to Login</a></p>
    </section>  
</body>
</html>