* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff9eb;
    font-family: Tahoma, sans-serif;
  }
  
  .form-register {
    width: 400px;
    background: #f18a0f;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    color: #fff9eb;
    box-shadow: 7px 13px 37px #fdeec8;
  }
  
  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .controls {
    width: 100%;
    background: #fdeec8;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #b1450c;
    font-size: 16px;
    color: #762d11;
  }
  
  .hidden {
    display: none;
  }
  
  .form-register p {
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    color: #441504;
  }
  
  .form-register a {
    color: #762d11;
    text-decoration: none;
    font-weight: bold;
  }
  
  .form-register a:hover {
    text-decoration: underline;
    color: #b1450c;
  }
  
  .botons {
    width: 100%;
    background: #762d11;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
  }
  
  .botons:hover {
    background: #903610;
  }
  